.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }
.delete{
      margin: 5px;
      padding: 10px;
      background: rgb(194, 0, 0);
      border-radius: 10px;
      justify-content: flex-start;
      width: 90px;
}

   .delete:hover{
      background: rgb(75, 8, 8);
}

  .cancel{
      margin: 5px;
      padding: 10px;
      background: rgb(215, 215, 215);
      border-radius: 10px;
      justify-content: flex-end;
      width: 90px;
}

   .cancel:hover{
      background: rgb(108, 108, 108);
}

.modalOverlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  z-index: 99999;
}

.modal {
  background: #DDDDDD;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
}

.button {
  display: flex;
  gap: 10px;
}